@import "steel-bootstrap/src/variables";
@import "steel-bootstrap/src/mixins";

/* Dropdown
	 ========================================================================== */

.dropdown-menu {
	background: $white;
	border-radius: $border-radius-base;
	border: 1px solid rgba($primary, 0.12);
	box-shadow: 0 1px 8px rgba($black, 0.08);
	position: absolute;
}

.dropdown-menu > li {
	margin: 0;
}

.dropdown-menu > li:first-child {
	margin-top: 25px;
}

.dropdown-menu > li:last-child {
	margin-bottom: 25px;
}

.dropdown-menu > li > a {
	@include anim(color);
	color: rgba($primary, .5);
	display: block;
	font-size: 14px;
	padding: 10px 40px;
	text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: none;
	color: rgba($primary, .9);
}
